@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Outfit', sans-serif !important;
    @apply !p-0 !m-0 !box-border;                                          
}

body {
  background: var(--darkmode-bg-01, #0E1515) !important;
}

a {
    text-decoration: none !important;
}


.swiper-pagination-bullets {
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(7px);
  width: 20% !important;
  margin-inline: auto !important;
  left: 40% !important;
}

.swiper-pagination .swiper-pagination-bullet{
  width: 10px !important;
  height: 10px !important;
  margin: 0 8px !important;
  background-color: white !important;
}


.react-datepicker {
  font-family: unset;
  font-size: 0.9rem;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  @apply !block;
}

.react-datepicker__input-container > input {
  @apply w-full h-full outline-0 !text-white !bg-[#0E1515] !border-[1px] !py-[10px] !px-[14px] !border-[rgba(255,255,255,0.08)] !rounded-lg;
}

